[Desktop Entry]
Name=Lane
Exec=lane %u
Icon=app.lane.Lane
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
