[Desktop Entry]
Name=Tern
Exec=tern %u
Icon=app.tern.Tern
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
