[Desktop Entry]
Name=Brave
Exec=/usr/bin/brave %u
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
