[Desktop Entry]
Name=QBO
Exec=firefoxpwa site launch 01KT1N5RHR7DYJ54DWPBWAY5V4
Icon=FFPWA-01KT1N5RHR7DYJ54DWPBWAY5V4
Type=Application
NoDisplay=true
