[Desktop Entry]
Name=Firefox
Exec=/usr/bin/firefox %u
Icon=firefox
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
