[Desktop Entry]
Name=Zen Browser
Exec=/opt/zen-browser-bin/zen-bin %u
Icon=zen-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
